// Overrides
// --------------------------------------------------

$icon-font-path: "/fonts/";

// Brand colors
// -------------------------

$cr-blue:				#3b6e8f; //PMS 5405 C58 M17 Y0   K46
$cr-orange:				#d06f1a; //PMS 167  C0  M60 Y100 K17
$cr-dkblue:				#113556;
$cr-grey:				#878785; //PMS Cool Grey 9

$brand-primary:			$cr-blue;

// Navbar
// -------------------------

// Basics of a navbar
$navbar-default-bg:                inherit;
$navbar-default-border:            none;

// Navbar links
$navbar-default-link-active-bg:         #fff;
