<!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand logo" href="/"><img src="/clientside/images/logo.svg" alt="crossroads" /></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% for post in site.categories.nav reversed %}
            <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
            {% endfor %}
            <li><a href="/blog" >Blog</a></li>
          </ul>
          <!-- Right menu's cause an issue with the fork us badge
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Right</a></li>
          </ul>
          -->
        </div><!--/.nav-collapse -->
      </div>
    </div>
