
.brandbar {
	height: 8px;
	width: 100%;
	z-index: 200;
}
.brandbar span {
	height: 100%;
	float: left;
}

.brandbar .b01 {
	width: 30%;
	background-color: $cr-grey;
}

.brandbar .b02 {
	width: 2%;
}

.brandbar .b03 {
	width: 2%;
	background-color: $cr-dkblue;
}

.brandbar .b04 {
	width: 19%;
	background-color: $cr-blue;
}

.brandbar .b05 {
	width: 7%;
	background-color: $cr-dkblue;
}

.brandbar .b06 {
	width: 3%;
	background-color: $cr-blue;
}

.brandbar .b07 {
	width: 7%;
	background-color: $cr-dkblue;
}

.brandbar .b08 {
	width: 3%;
	background-color: $cr-blue;
}

.brandbar .b09 {
	width: 7%;
	background-color: $cr-dkblue;
}

.brandbar .b10 {
	width: 3%;
	background-color: $cr-blue;
}

.brandbar .b11 {
	width: 1%;
}

.brandbar .b12 {
	width: 1%;
	background-color: $cr-grey;
}

.brandbar .b13 {
	width: 2%;
}

.brandbar .b14 {
	width: 13%;
	background-color: $cr-orange;
}
