@import 'variable-overrides';
@import '../vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'overrides';
@import 'brandbar';

a:hover {
  text-decoration:none;
}
.navbar{
	z-index: 100;
}

.logo {
	font-size: 25px;
	font-weight: 100;
	margin-top: -2px;
}

.logo img {
	max-width: 140px;
	margin-top: -6px;
}

footer {
	background-color: $gray-lighter;
	padding: 25px 0;
        margin-top: 40px;
}

.center {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}

.posts li {list-style:none;}


/***************************************************************************************
* Dashboard Elements - used on /dashboard.html
***************************************************************************************/
.status-block {padding: 30px 0; color:$gray-lighter;}
.status-blocks h2 {font-size: $font-size-h2+30px;}
.documents, .documents ul {list-style: none;}
#myTabDrop1 {margin-top: 17px;}


/* RIGHT SIDE BAR */
#rt_block_wrapper {
    float: right;
    margin-top: 25px;
    width: 302px;
}
.rt_block {
    background: url("/img/bg_rt_grad1.png") repeat-x scroll center top #F6F7F7;
    border: 1px solid #CFCDCD;
    font-family: Arial;
    overflow: visible;
    padding: 0 15px 10px;
    position: relative;
    width: 270px;
    z-index: 2;
}

.rt_block_spacer {
    margin-bottom: 1em;
}
/* RIGHT SIDE BAR */
